
.header {
  height: 55px;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width:1px ;
  border-bottom-style: solid ;
  border-bottom-color: rgb(228, 228, 228);

}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo{
  height: 20px;
}


.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px
  rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder{
  font-family: Robot, Arial;
  font-size: 16px;

}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(245, 245, 245);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button .tooltip {
  position: absolute;
  background-color: rgb(95, 93, 93);
  color: white;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 8px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -50px;
  opacity: 0;
  transition: opacity 0.15s ;
  font-family: Roboto;
  pointer-events: none;

}
.search-button:hover .tooltip {
  opacity: 1;
  
}
.search-button:hover {
  cursor: pointer;
}

.voice-sea .tooltip {
  position: absolute;
  background-color: rgb(95, 93, 93);
  color: white;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 8px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -50px;
  left: -50px;
  white-space: nowrap;
  
  opacity: 0;
  transition: opacity 0.15s ;
  font-family: Roboto;
  pointer-events: none;

}

.voice-sea:hover .tooltip {

  opacity: 1;  

}


.voice-sea{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
  position: relative;
  cursor: pointer;
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px;
  
}


.Search-icon {
  height: 25px;
  margin-top: 4px;
}

.right-section {
  width: 180px;
  display: flex;
  margin-right: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
 
}

.uploading, .youtube-apps-container, .notifications-icon-container {
   position: relative;
   cursor: pointer;
}

.tool-tip {
  position: absolute;
  font-family: Roboto;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  bottom: -48px;
  left: -30px;
  border-radius: 2px;
  background-color: rgb(95, 93, 93);
  color: white;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  
}
.uploading:hover .tool-tip,
.youtube-apps-container:hover .tool-tip,
.notifications-icon-container:hover .tool-tip
{
  opacity: 1;
}


.upload-icon {
  height: 24px;
}
.youtube-app-icons {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.current-user-picture {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.notifications-icon-container {
  position: relative;
}
.notifications-count {
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: Roboto;
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

