
.thumbnail  {
  width: 100%;
}


.video-tittle{ 
  margin-top: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 12px
}



.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.video-info {
  display: inline-block;
  width: 200px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
  
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-author,
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.channl-pic {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.video-infos {
  display: inline-block;
  width: 200px;
}

.profile-pic {
  width: 36px;
  border-radius: 50px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 16px;
}

.video-time {
  background-color: black;
  color: white;
  font-family: Roboto;
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-size: 12px;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  font-weight:  bold;
  border-radius: 2px;

}

.channel-new-design {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  background-color: white;
  width: 200px;
  padding: 12px 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: absolute;
  top: 55px;
  z-index: 300;

  opacity: 0;
  pointer-events: none;

  display:flex;
  align-items: center;
  transition: opacity 0.15s;
}

.channel-new-design:hover .channel-tooltip {
  opacity: 1;
}


.channel-tooltip-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;

}


.channel-tooltip-name {
  font-family: Roboto, Arial;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
 
}

.channel-tooltip-stats {
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
  font-size: 14px;
  
}
